.public-style {
    height: 80px;
}
.user-style {
    height: 25px;
}
.temprature-style {
    height: 40px;
}
.heart-style {
    height: 35px;
    align-self: center;
}
.gas-style {
    height: 35px;
    align-self: flex-start;
}


